<!-- Google Fonts: Fira Sans for titles, Fira Code for content -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap"
    rel="stylesheet">

<!-- Minimal link cards -->
<link rel="stylesheet" href="/css/linkcard.css">

<!-- Google Analytics (gtag.js) -->
{{ if not .Site.IsServer }}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-D803KM3E07"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-D803KM3E07');
</script>
{{ end }}